/*  Color Palette 
#FDF4F5
#E8A0BF
#BA90C6
#C0DBEA 
*/

/* font-family: 'Roboto Mono', monospace;
font-family: 'Ysabeau Infant', sans-serif; */


/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;0,500;1,300&display=swap');

header{
    display: inline-block;
}

#title{
    background-color:#C0DBEA ;
    width: fit-content;     
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
}

nav{
    background-color: aliceblue;
    width: fit-content;
} */